.navbar-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  font-size: 17px;
}

.navbar-li {
  margin: 0;
}

.navbar-item {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  margin-left: 20px;
}

.hamburger-logo {
  margin-left: 70px;
}
