.pc-title {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.pc-container {
  min-width: 250px;
}

.pc-category {
  font-weight: 600;
  text-transform: capitalize;
}

.pc-image {
  background-color: rgb(236, 236, 236);
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.pc-priceblock {
  margin: 5px 0;
}

.bolden {
  font-weight: 600;
}

.pc-promoprice {
  color: rgb(230, 58, 58);
}

.pc-details {
  display: block;
  width: 100%;
}