.cart-button {
  background-color: inherit;
  border: none;
  margin-right: 20px;
}

.cart {
  position: absolute;
  width: 300px;
  height: calc(100vh - 60px);
  top: 60px;
  right: 0;
  /* Bow down before the hideousness! */
  background-color: hotpink;
}
